# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "b699e772c0864c6307d11ee0177957a1"
name = "Referral Tracking"
handle = "referral-tracking"
application_url = "https://angry-finite-visits-functionality.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_orders,read_customers,write_customers,unauthenticated_read_customer_tags"

[auth]
redirect_urls = [ "https://angry-finite-visits-functionality.trycloudflare.com/api/auth" ]
