.cell-referrer {
  min-width: calc(100% - 398px);
  display: flex;
  min-height: 42px;
  align-items: center;
}

.cell-referrer > p {
  overflow-wrap: anywhere;
  word-break: break-word;
  white-space: pre-wrap;
}

.cell-tag {
  min-width: 150px;
}

.cell-action {
  min-width: 140px;
}

.cell-status {
  min-width: 70px;
}
